<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a6b398">  <td>22/10/08 14:19:12</td>   <td>0</td> <td title="&gt;&gt;BaseTest.SelectBrowser()[pri:0, instance:TestCases.AmazonHomePageTest@506ae4d4]">&gt;&gt;SelectBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@725680028</td>   <td></td> </tr>
<tr bgcolor="a6b398">  <td>22/10/08 14:19:33</td>   <td>20906</td> <td title="&lt;&lt;BaseTest.CloseBrowser()[pri:0, instance:TestCases.AmazonHomePageTest@506ae4d4]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@725680028</td>   <td></td> </tr>
<tr bgcolor="ca7889">  <td>22/10/08 14:19:32</td>   <td>20422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonHomePageTest.signin()[pri:0, instance:TestCases.AmazonHomePageTest@506ae4d4]">signin</td> 
  <td>main@725680028</td>   <td></td> </tr>
</table>
